/* styles.css */

.div-element {
    background-color: rgb(251, 211, 217); /* Background color of divs */
    padding: 20px; /* Space inside the div */
    box-sizing: border-box; /* Padding and border included in width calculation */
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightpink;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: black;
    text-decoration: underline;
}

h2, h3 {
    font-weight: bold;
    color: black;
}

h4 {
    font-weight: lighter;
    color: #AA336A;
}

h5 {
    text-align: center;
    font-weight: lighter;
    color: black
}

ul {
    list-style-type: square;
    padding-left: 30px;
}



